<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/web/include.js?v=1.0.5"></script>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content" id="app">
     <!-- loading 固定格式不要删除1-->
    <div id="overlay" style="background:#000;filter:alpha(opacity=50);opacity:0.5;display:none;position:absolute;top:0px;left:0px;width:100%;height:100%;z-index:100;display:none;"><div class="sk-spinner sk-spinner-double-bounce" style="margin-top: 300px;"><div class="sk-double-bounce1"></div> <div class="sk-double-bounce2"></div></div></div>
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="form-horizontal">

														    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" v-text="status"></label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.status" class="form-control"  >
	                            </div>
                            </div>
							    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" v-text="name"></label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.name" class="form-control"  maxlength="500"  >
	                            </div>
                            </div>
							    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" v-text="memo"></label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.memo" class="form-control"  maxlength="100"  >
	                            </div>
                            </div>
							    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" v-text="classifyName"></label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.classifyName" class="form-control"  maxlength="100"  >
	                            </div>
                            </div>
							    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" v-text="classifyID"></label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.classifyID" class="form-control"  >
	                            </div>
                            </div>
							    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" v-text="tagName"></label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.tagName" class="form-control"  maxlength="1,000"  >
	                            </div>
                            </div>
							    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" v-text="tagID"></label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.tagID" class="form-control"  maxlength="500"  >
	                            </div>
                            </div>
							    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" v-text="brandName"></label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.brandName" class="form-control"  maxlength="100"  >
	                            </div>
                            </div>
							    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" v-text="brandID"></label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.brandID" class="form-control"  >
	                            </div>
                            </div>
							    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" v-text="unitName"></label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.unitName" class="form-control"  maxlength="1,000"  >
	                            </div>
                            </div>
							    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" v-text="unitID"></label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.unitID" class="form-control"  maxlength="500"  >
	                            </div>
                            </div>
							    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" v-text="content"></label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.content" class="form-control"  maxlength="65,535"  >
	                            </div>
                            </div>
							    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" v-text="putaway"></label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.putaway" class="form-control"  >
	                            </div>
                            </div>
							    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" v-text="images"></label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.images" class="form-control"  maxlength="2,000"  >
	                            </div>
                            </div>
							    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" v-text="order"></label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.order" class="form-control"  >
	                            </div>
                            </div>
							    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" v-text="nO"></label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.nO" class="form-control"  maxlength="30"  >
	                            </div>
                            </div>
							    <div class="hr-line-dashed" ></div>
	                            <div class="form-group">
	                                <label class="col-sm-2 control-label" v-text="nNum"></label>
	                                <div class="col-sm-10">
	                                    <input type="text" v-model="data.nNum" class="form-control"  >
	                            </div>
                            </div>
                          
                           <!--  <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" @click="save" type="submit">保存内容</button>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var tempApp="";
    window.onload=function () {
        var app = new Vue({
            el: "#app",
            data: {
                 viewflag:getUrlKey("viewflag")=="1"?false:true,//查看标志
                    status:"状态 【正常：1   删除：88】",
                    name:"商品名字",
                    memo:"备注",
                    classifyName:"商品分类名字",
                    classifyID:"商品分类",
                    tagName:"标签名字",
                    tagID:"标签",
                    brandName:"品牌名字",
                    brandID:"品牌",
                    unitName:"单位名字",
                    unitID:"单位",
                    content:"商品属性",
                    putaway:"上架 ［未上架0.上架1］",
                    images:"JSON图片字段",
                    order:"排序",
                    nO:"商品的编码",
                    nNum:"商品编码的计数",
                data:{
                    iD:getUrlKey("id"),
                    	status:0,
                    	name:0,
                    	memo:0,
                    	classifyName:0,
                    	classifyID:0,
                    	tagName:0,
                    	tagID:0,
                    	brandName:0,
                    	brandID:0,
                    	unitName:0,
                    	unitID:0,
                    	content:0,
                    	putaway:0,
                    	images:0,
                    	order:0,
                    	nO:0,
                    	nNum:0,
                }
            },
            methods: {
                initDocument: function () {//一些特殊的处理如查看时全部只读   时间控件初始化等
                    if(this.viewflag){//查看goodsDataList
                        $('input,select,textarea').attr('disabled',true);//
                        //setTimeout("$('#goodsDataList tbody tr td input').attr('readonly',true)",200);//针对有子表列表编辑时可放开此句
                    }
                },
                save: function () {
                    if(validate()){return};
                    savaData(this,basePath+"Shop/modifyShop")
                }
            },
            mounted: function () {
                tempApp=this;
                if(this.data.iD!=0){
                    findByID(this,this.data.iD,basePath+"Shop/findShop/")
                }
                bindImgError();
                this.initDocument();
            }
        })
    }
    function validate(){
        var message="不允许为空。"
        if(!chechIsUnll(tempApp.data.name)){
            error(tempApp.name+message);
            return true;
        }
        if(!chechIsUnll(tempApp.data.classifyID)){
            error(tempApp.classifyID+message);
            return true;
        }
        if(!chechIsUnll(tempApp.data.tagID)){
            error(tempApp.tagID+message);
            return true;
        }
        if(!chechIsUnll(tempApp.data.brandID)){
            error(tempApp.brandID+message);
            return true;
        }
        if(!chechIsUnll(tempApp.data.unitID)){
            error(tempApp.unitID+message);
            return true;
        }
        if(!chechIsUnll(tempApp.data.nO)){
            error(tempApp.nO+message);
            return true;
        }
        if(!chechIsUnll(tempApp.data.nNum)){
            error(tempApp.nNum+message);
            return true;
        }
        return false;
    }
</script>
</body>
</html>
