<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.dao.read.ReadShopMapper">
	<!-- 返回的map -->
	<resultMap id="shop" type="com.code.domain.Shop">
		<result property="ID" column="Shop_ID" />
		<result property="CreateTime" column="Shop_CreateTime" />
		<result property="ModifyTime" column="Shop_ModifyTime" />
		<result property="Status" column="Shop_Status" />
		<result property="Name" column="Shop_Name" />
		<result property="Memo" column="Shop_Memo" />
		<result property="ClassifyName" column="Shop_ClassifyName" />
		<result property="ClassifyID" column="Shop_ClassifyID" />
		<result property="TagName" column="Shop_TagName" />
		<result property="TagID" column="Shop_TagID" />
		<result property="BrandName" column="Shop_BrandName" />
		<result property="BrandID" column="Shop_BrandID" />
		<result property="UnitName" column="Shop_UnitName" />
		<result property="UnitID" column="Shop_UnitID" />
		<result property="Content" column="Shop_Content" />
		<result property="Putaway" column="Shop_Putaway" />
		<result property="Images" column="Shop_Images" />
		<result property="Order" column="Shop_Order" />
		<result property="NO" column="Shop_NO" />
		<result property="NNum" column="Shop_NNum" />
	</resultMap>
	<!-- sql查询语句-->
	<sql id="sql">
		Shop_ID,Shop_CreateTime,Shop_ModifyTime,Shop_Status,Shop_Name,Shop_Memo,Shop_ClassifyName,Shop_ClassifyID,Shop_TagName,Shop_TagID,Shop_BrandName,Shop_BrandID,Shop_UnitName,Shop_UnitID,Shop_Content,Shop_Putaway,Shop_Images,Shop_Order,Shop_NO,Shop_NNum
	</sql>
	<!-- sql查询条件-->
	<sql id="where">
		1=1 
		<if test="ID!=null">
				 and Shop_ID = #{ID}
</if>
<if test="CreateTime!=null">
				 and Shop_CreateTime = #{CreateTime}
</if>
<if test="ModifyTime!=null">
				 and Shop_ModifyTime = #{ModifyTime}
</if>
<if test="Status!=null">
				 and Shop_Status = #{Status}
</if>
<if test="Name!=null">
				 and Shop_Name = #{Name}
</if>
<if test="Memo!=null">
				 and Shop_Memo = #{Memo}
</if>
<if test="ClassifyName!=null">
				 and Shop_ClassifyName = #{ClassifyName}
</if>
<if test="ClassifyID!=null">
				 and Shop_ClassifyID = #{ClassifyID}
</if>
<if test="TagName!=null">
				 and Shop_TagName = #{TagName}
</if>
<if test="TagID!=null">
				 and Shop_TagID = #{TagID}
</if>
<if test="BrandName!=null">
				 and Shop_BrandName = #{BrandName}
</if>
<if test="BrandID!=null">
				 and Shop_BrandID = #{BrandID}
</if>
<if test="UnitName!=null">
				 and Shop_UnitName = #{UnitName}
</if>
<if test="UnitID!=null">
				 and Shop_UnitID = #{UnitID}
</if>
<if test="Content!=null">
				 and Shop_Content = #{Content}
</if>
<if test="Putaway!=null">
				 and Shop_Putaway = #{Putaway}
</if>
<if test="Images!=null">
				 and Shop_Images = #{Images}
</if>
<if test="Order!=null">
				 and Shop_Order = #{Order}
</if>
<if test="NO!=null">
				 and Shop_NO = #{NO}
</if>
<if test="NNum!=null">
				 and Shop_NNum = #{NNum}
</if>

		<!-- 这边要数据自己处理 -->
		<if test="search != null">
			and (
				Shop_ID like binary CONCAT(CONCAT('%', #{search,jdbcType=VARCHAR}),'%') or 
				Shop_CreateTime like binary CONCAT(CONCAT('%', #{search,jdbcType=VARCHAR}),'%') or 
				Shop_ModifyTime like binary CONCAT(CONCAT('%', #{search,jdbcType=VARCHAR}),'%') or 
				Shop_Status like binary CONCAT(CONCAT('%', #{search,jdbcType=VARCHAR}),'%') or 
				Shop_Name like binary CONCAT(CONCAT('%', #{search,jdbcType=VARCHAR}),'%') or 
				Shop_Memo like binary CONCAT(CONCAT('%', #{search,jdbcType=VARCHAR}),'%') or 
				Shop_ClassifyName like binary CONCAT(CONCAT('%', #{search,jdbcType=VARCHAR}),'%') or 
				Shop_ClassifyID like binary CONCAT(CONCAT('%', #{search,jdbcType=VARCHAR}),'%') or 
				Shop_TagName like binary CONCAT(CONCAT('%', #{search,jdbcType=VARCHAR}),'%') or 
				Shop_TagID like binary CONCAT(CONCAT('%', #{search,jdbcType=VARCHAR}),'%') or 
				Shop_BrandName like binary CONCAT(CONCAT('%', #{search,jdbcType=VARCHAR}),'%') or 
				Shop_BrandID like binary CONCAT(CONCAT('%', #{search,jdbcType=VARCHAR}),'%') or 
				Shop_UnitName like binary CONCAT(CONCAT('%', #{search,jdbcType=VARCHAR}),'%') or 
				Shop_UnitID like binary CONCAT(CONCAT('%', #{search,jdbcType=VARCHAR}),'%') or 
				Shop_Content like binary CONCAT(CONCAT('%', #{search,jdbcType=VARCHAR}),'%') or 
				Shop_Putaway like binary CONCAT(CONCAT('%', #{search,jdbcType=VARCHAR}),'%') or 
				Shop_Images like binary CONCAT(CONCAT('%', #{search,jdbcType=VARCHAR}),'%') or 
				Shop_Order like binary CONCAT(CONCAT('%', #{search,jdbcType=VARCHAR}),'%') or 
				Shop_NO like binary CONCAT(CONCAT('%', #{search,jdbcType=VARCHAR}),'%') or 
				Shop_NNum like binary CONCAT(CONCAT('%', #{search,jdbcType=VARCHAR}),'%') or 
				
				1 != 1
			)
		</if>
	</sql>
	<!-- 根据ID 查找-->
	<select id="findById" resultMap="shop" parameterType="long">
		SELECT
		<include refid="sql"></include>
		FROM t_shop
		<where>
			Shop_ID = #{_parameter} 
		</where>
	</select>
	<!-- 根据条件 查找-->
	<select id="query"  resultMap="shop"
		parameterType="java.util.Map">
		SELECT
		<include refid="sql"></include>
		FROM t_shop
		<where>
			<include refid="where"></include>
		</where>
	
	</select>
	<!-- 根据条件总数-->
	<select id="queryCount" parameterType="map" resultType="int">
		SELECT
			Count(1)
			FROM t_shop
			<where>
				<include refid="where"></include>
			</where>
	</select>



</mapper>
