<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.dao.write.SpecificationMapper">
	<sql id="sql">
		Specification_ID,Specification_CreateTime,Specification_ModifyTime,Specification_Status,Specification_Specs,Specification_Memo,Specification_ShopID,Specification_Image
	</sql>
	<sql id="where">
		1=1 
		<if test="ID!=null">
				 and Specification_ID = #{ID}
</if>
<if test="CreateTime!=null">
				 and Specification_CreateTime = #{CreateTime}
</if>
<if test="ModifyTime!=null">
				 and Specification_ModifyTime = #{ModifyTime}
</if>
<if test="Status!=null">
				 and Specification_Status = #{Status}
</if>
<if test="Specs!=null">
				 and Specification_Specs = #{Specs}
</if>
<if test="Memo!=null">
				 and Specification_Memo = #{Memo}
</if>
<if test="ShopID!=null">
				 and Specification_ShopID = #{ShopID}
</if>
<if test="Image!=null">
				 and Specification_Image = #{Image}
</if>

	</sql>

	<!-- 插入数据 -->
	<insert id="insert" parameterType="com.code.domain.Specification"  useGeneratedKeys="true">
		insert into t_specification( <include refid="sql"></include> )
		values(
				#{ID},
now(),
now(),
#{Status},
#{Specs},
#{Memo},
#{ShopID},
#{Image}
				)
	</insert>
	<update id="update" parameterType="com.code.domain.Specification">
		update t_specification set
		 Specification_ModifyTime=now
		 <if test="Status!=null">,Specification_Status = #{Status}</if>
<if test="Specs!=null">,Specification_Specs = #{Specs}</if>
<if test="Memo!=null">,Specification_Memo = #{Memo}</if>
<if test="ShopID!=null">,Specification_ShopID = #{ShopID}</if>
<if test="Image!=null">,Specification_Image = #{Image}</if>

		<where>
			Specification_ID= #{ID} 
		</where>
	</update>


	<!-- 根据编号删除-->
	<update id="deleteById" parameterType="com.code.domain.Specification">
		update t_specification set Specification_Status=88 where Specification_ID = #{_parameter} 
	</update>

	<!-- 根据编号恢复-->
	<update id="recoverByID" parameterType="com.code.domain.Specification">
		update t_specification set Specification_Status=1 where Specification_ID = #{_parameter} 
	</update>

	<!-- 根据条件删除-->
	<update id="deleteByCondition" parameterType="com.code.domain.Specification">
		update t_specification set Specification_Status=88 
		<where>
			<include refid="where"></include>
		</where>
	</update>

	<!-- 根据条件恢复-->
	<update id="recoverByCondition" parameterType="com.code.domain.Specification">
		update t_specification set Specification_Status=1 
		<where>
			<include refid="where"></include>
		</where>
	</update>


</mapper>
